<%-include ("partials/header"); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" name="inputTitle" id="exampleFormControlInput1" placeholder="">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">POST</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="inputText" rows="3"></textarea>
        </div>
        <div class="mb3">
            <button type="submit" class="btn btn-primary">Publish</button>
        </div>

    </form>

    <%-include ("partials/footer"); -%>